# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.json
*.gz
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.idea/.name
/.idea/sonarlint/issuestore/2/a/2af875425a5143bf3e0b5f3f593c31f46f611ed2
/.idea/sonarlint/issuestore/2/e/2e43b3f1ee0ab84e09d7591d981fa4f12fb6e7da
/.idea/sonarlint/issuestore/0/4/04a8ae567db302efc4a73a2928a176f0b1ad8cac
/.idea/sonarlint/issuestore/5/e/5e67ce3b996440fdf490cba03f93c7c9bc03fbc2
/.idea/sonarlint/issuestore/6/c/6c2ad86addcd08dad608c2a56636270316bf6fcd
/.idea/sonarlint/issuestore/6/c/6c25342664147a140b868fa26eb3636bc2c2c0af
/.idea/sonarlint/issuestore/0/8/08c20f1f8badc811acf161f2a07135d9076a6937
/.idea/sonarlint/issuestore/4/0/40cc229bdd167897868032da5a57e636ba39e7c0
/.idea/sonarlint/issuestore/4/9/49daf87686a32f0233465393c9956147036afd08
/.idea/sonarlint/issuestore/5/0/50bbb548470938b6bab29217ae01c2167950f83b
/.idea/sonarlint/issuestore/5/8/58d10d7060af20a38f940364fb76ba733b3309ab
/.idea/sonarlint/issuestore/5/9/59ebb68c1901635fedb21075ba26a3cf35c4abcd
/.idea/sonarlint/issuestore/6/2/62aef332fc2645d267a08c46b34bb223b9cf7a01
/.idea/sonarlint/issuestore/6/8/68e8b65d894ac7392b19880c7cc540da828e32f3
/.idea/sonarlint/issuestore/7/2/72c2c15d7467ed39a92a3d2e298dfcfe9d5870bf
/.idea/sonarlint/issuestore/7/9/79a50712312c83ce2c86fe4c5d47bfa0e9172f46
/.idea/sonarlint/issuestore/8/1/81c48b4a708cc0ae6bae1f76bd7d88ad2c7a0c6d
/.idea/sonarlint/issuestore/9/0/90f4ce2b2443b4837fdfebb7f6605063f456706f
/.idea/sonarlint/issuestore/9/8/98a4fc3716088537ad5ef541d49f926a4c492fc7
/.idea/sonarlint/issuestore/2/9/293ec3c391d2b44af408c47f201c5c47fc28396b
/.idea/sonarlint/issuestore/3/5/357a9f27457167bccb164e6745166575946f1841
/.idea/sonarlint/issuestore/8/6/864c850ac4908fb1730b2301c1c1c15942241653
/.idea/sonarlint/issuestore/9/7/976a20051c9ccd936d5746ae3dfe767105b11381
/.idea/sonarlint/issuestore/3/1/3191c7b91ee352e64192ad252134fcdb62a11fcc
/.idea/sonarlint/issuestore/5/1/5102c940eb590be459eaafc52c1c96869f2a01aa
/.idea/sonarlint/issuestore/6/3/6389e2d591edc9945fcb60f5d47d259736ce4de9
/.idea/sonarlint/issuestore/8/1/8195b2e63e5c923699139efc9eade97bb89ce83a
/.idea/sonarlint/issuestore/7/3/73680ee442244b67bad13e9d0902ca41ab97bfe2
/.idea/sonarlint/issuestore/9/6/96227c829cc4ff28e6d77d1541454bfd469cdbb4
/.idea/sonarlint/issuestore/9/8/98081e2a2f83375aef8d3a15d893ddeab8419b7e
/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/.idea/sonarlint/issuestore/6/9/694466a14c0e0df74e3cfa5d29e789f06a46001a
/.idea/sonarlint/issuestore/1/1/1106490c8f8c764040de0d5fda4c27f1fc4e840e
/.idea/sonarlint/issuestore/2/7/2777689a61fbd17681737c4cd69d722e8a670638
/.idea/sonarlint/issuestore/7/5/7529390fd8253f24bfbe9d80eb1de04eed5c03a0
/.idea/sonarlint/issuestore/a/4/a4ffb5d3fede4bd8e9a782a2fac42abae6f75e93
/.idea/sonarlint/issuestore/a/6/a6773522951a9014dc16d95d82e5a607bc5972ee
/.idea/sonarlint/issuestore/a/d/adf20f583264a32e54e8bdaebe5301f6fee1c531
/.idea/sonarlint/issuestore/a/e/aee5e2060cf9ec12c9e94cb07e84066bb80f8da7
/.idea/sonarlint/issuestore/b/7/b7e16d158342177c0215609b15b27a1d00d27cc3
/.idea/sonarlint/issuestore/b/7/b7f1df330a5de95a231aaf71e459841c9f2aa73c
/.idea/sonarlint/issuestore/b/b/bb26b5dec3db19eb31491615521c5a213ec8de52
/.idea/sonarlint/issuestore/c/2/c2ff7f6dceccde65f7cee35da9e10cc4a102da50
/.idea/sonarlint/issuestore/c/4/c49a8d5301af180e3d2371888ffdcf8ac42c239d
/.idea/sonarlint/issuestore/c/1/c104dc3ed37601a12184bc0615a229478c11d579
/.idea/sonarlint/issuestore/c/5/c529c76447fe362c0c73a4ffff9b755adc713ec2
/.idea/sonarlint/issuestore/c/9/c96862465ea7b1fc6b0fb0cae027c56f994aa618
/.idea/sonarlint/issuestore/c/f/cf41f65f2f2d7703a40fd53a6b3df8ae2ee5376b
/.idea/compiler.xml
/.idea/sonarlint/issuestore/d/6/d6b012ef2211a24367fbb0acd4382f2d7df54944
/.idea/sonarlint/issuestore/d/0/d06bab51b4c45336bd79b068446128cc9a18f118
/.idea/sonarlint/issuestore/d/9/d9db92d9163071344aa0c727a63445f3b8065640
/.idea/sonarlint/issuestore/d/6/d601aea051caf1c7561fc68da4bead07aca297de
/.idea/sonarlint/issuestore/d/d/ddeb0e168f5a3d556c5ee0819429d040e8851ccb
/.idea/sonarlint/issuestore/e/4/e4c41a593b39a11c946c214bab2fe677dbd3d3e9
/.idea/sonarlint/issuestore/e/8/e841ebfc92390bf9da8bc251d14d88df1aba119f
/.idea/sonarlint/issuestore/e/a/ea8343a4ba378b9e8f6abde9a74ae81c4dc7e4ef
/.idea/sonarlint/issuestore/e/f/ef34a1f85e5a86589ea2c973581a2c367f7335f1
/.idea/encodings.xml
/.idea/sonarlint/issuestore/f/2/f27e3f91d312d0e9b525417b52960b6b7dccea51
/.idea/sonarlint/issuestore/f/3/f32b59edcb22ca263ac9621518d6bdcd1617f10c
/.idea/sonarlint/issuestore/f/a/fae3857f6ad91b4723de0e7e422e90857c1f3f3c
/.idea/sonarlint/issuestore/f/d/fdf08cfa05964f583163db820c78ff76088292fd
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_10_3.xml
/.idea/libraries/Maven__com_google_code_findbugs_annotations_2_0_1.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
/.idea/libraries/Maven__com_h2database_h2_1_4_200.xml
/.idea/libraries/Maven__com_infradna_tool_bridge_method_annotation_1_13.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/.idea/libraries/Maven__com_mysema_codegen_codegen_0_6_8.xml
/.idea/libraries/Maven__com_mysema_commons_mysema_commons_lang_0_2_4.xml
/.idea/libraries/Maven__com_querydsl_querydsl_apt_4_2_2.xml
/.idea/libraries/Maven__com_querydsl_querydsl_codegen_4_2_2.xml
/.idea/libraries/Maven__com_querydsl_querydsl_core_4_2_2.xml
/.idea/libraries/Maven__com_querydsl_querydsl_jpa_4_2_2.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_8.xml
/.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_16.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_2.xml
/.idea/libraries/Maven__io_micrometer_micrometer_core_1_3_6.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_8.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_8.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_12_1.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_33.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_33.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_33.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_5.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_13_2.xml
/.idea/libraries/Maven__org_atteo_evo_inflector_1_2_2.xml
/.idea/libraries/Maven__org_dom4j_dom4j_2_1_1.xml
/.idea/libraries/Maven__org_eclipse_jdt_core_compiler_ecj_4_3_1.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_2.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_2.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
/.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_11.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_12_Final.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_18_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
/.idea/libraries/Maven__org_jboss_jandex_2_1_1_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_5_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_5_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_5_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_5_2.xml
/.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8_1.xml
/.idea/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
/.idea/libraries/Maven__org_mockito_mockito_core_3_1_0.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_1_0.xml
/.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/.idea/libraries/Maven__org_reflections_reflections_0_9_9.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_rest_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_hateoas_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_rest_core_3_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_rest_hal_browser_3_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_rest_webmvc_3_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_hateoas_spring_hateoas_1_0_4_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_2_0_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aspects_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_orm_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_5_RELEASE.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_4.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
/.idea/misc.xml
/.idea/modules.xml
/users.iml
/.idea/vcs.xml
/src/main/ui/node_modules/.cache/babel-loader/1ed526a54612e936cf5311f8dd21ea88.json
/src/main/ui/node_modules/.cache/vue-loader/5a4ea82f4b190daca9c0be991df509e6.json
/src/main/ui/node_modules/.cache/babel-loader/5ddd6c429eb74d0b93b058e70411b153.json
/src/main/ui/node_modules/.cache/vue-loader/6fc280a9d4388d1316bca7169f26a840.json
/src/main/ui/node_modules/.cache/vue-loader/8b8f2aa36140c70f3c1cbba64fe31e22.json
/src/main/ui/node_modules/.cache/vue-loader/9de658d0e2bfc49e9ed8857b8c49b06f.json
/src/main/ui/node_modules/.cache/babel-loader/015be7e3b7e3c356b3e471f00a9cb37b.json
/src/main/ui/node_modules/.cache/vue-loader/20f66a76409341a1893593a6b9c19967.json
/src/main/ui/node_modules/.cache/vue-loader/43a08edfafdb1371642f03080234b4ac.json
/src/main/ui/node_modules/.cache/vue-loader/61c061274e2ae26827c7b6690a5c5526.json
/src/main/ui/node_modules/.cache/vue-loader/4462a5941f670adaf3365e32f2a8c258.json
/src/main/ui/node_modules/.cache/babel-loader/1006819ee76552d13c3f8f0d52334f3d.json
/src/main/ui/node_modules/.cache/vue-loader/1165010ef52326695d45c5360883a9fb.json
/src/main/ui/node_modules/.cache/vue-loader/16214854a8b4f47306c4466e03913c95.json
/src/main/ui/node_modules/.cache/vue-loader/b45cba4b6fa71c372375076adeb9c3f2.json
/src/main/ui/node_modules/.cache/vue-loader/b259e5b2290fb418d7cb7e82e1774e5f.json
/src/main/ui/node_modules/.cache/babel-loader/b791dad97409d7289642491524dabe3e.json
/src/main/ui/node_modules/.cache/vue-loader/bba6bef16090774d91278c809a3659b0.json
/node_modules/prettier/bin-prettier.js
/src/main/ui/node_modules/.cache/vue-loader/d12f74fde2cdb8a2e28f0a99b977a70c.json
/node_modules/prettier/doc.js
/src/main/ui/node_modules/.cache/vue-loader/e915139fdf7874d62c4a7d938a48c40a.json
/src/main/ui/node_modules/.cache/vue-loader/ec68fd57442d269e98af0e7bd3f926f7.json
/node_modules/prettier/index.js
/node_modules/prettier/LICENSE
/node_modules/prettier/parser-angular.js
/node_modules/prettier/esm/parser-angular.mjs
/node_modules/prettier/parser-babel.js
/node_modules/prettier/esm/parser-babel.mjs
/node_modules/prettier/parser-espree.js
/node_modules/prettier/esm/parser-espree.mjs
/node_modules/prettier/parser-flow.js
/node_modules/prettier/esm/parser-flow.mjs
/node_modules/prettier/parser-glimmer.js
/node_modules/prettier/esm/parser-glimmer.mjs
/node_modules/prettier/parser-graphql.js
/node_modules/prettier/esm/parser-graphql.mjs
/node_modules/prettier/parser-html.js
/node_modules/prettier/esm/parser-html.mjs
/node_modules/prettier/parser-markdown.js
/node_modules/prettier/esm/parser-markdown.mjs
/node_modules/prettier/parser-meriyah.js
/node_modules/prettier/esm/parser-meriyah.mjs
/node_modules/prettier/parser-postcss.js
/node_modules/prettier/esm/parser-postcss.mjs
/node_modules/prettier/parser-typescript.js
/node_modules/prettier/esm/parser-typescript.mjs
/node_modules/prettier/parser-yaml.js
/node_modules/prettier/esm/parser-yaml.mjs
/node_modules/.bin/prettier
/node_modules/.bin/prettier.cmd
/node_modules/.bin/prettier.ps1
/node_modules/prettier/README.md
/node_modules/prettier/standalone.js
/node_modules/prettier/esm/standalone.mjs
/node_modules/prettier/third-party.js
/.idea/sonarlint/issuestore/1/f/1f1763f358c257ea3515417352b82b0165647ad1
/.idea/sonarlint/issuestore/2/f/2f6fef0458caa78809927de5276064b540107408
/.idea/sonarlint/issuestore/4/b/4b8b6fc334feec4212fda92c642a82ac32c21819
/.idea/sonarlint/issuestore/5/d/5d837c4ed85ecaaf932c506e80ff5d7b9f3d590d
/.idea/sonarlint/issuestore/2/4/24b7cb85e69eb7065aeccd58ac0242fda8f8adfc
/.idea/sonarlint/issuestore/8/7/87d5490e44ea1742fe471ea56ae15a503117a8c4
/.idea/sonarlint/issuestore/2/8/286b85f046bb96864d55d9a79540734c3d84a84a
/.idea/sonarlint/issuestore/3/2/322dd089e34c004594c3b1ab10d248bb0d894aef
/.idea/sonarlint/issuestore/6/8/681ae0f250db16f12b2cca28a06a80c4aba263fa
/.idea/sonarlint/issuestore/1/6/16747d7ba0acd3a4dc7378302e4bd0cd8b27140f
/.idea/sonarlint/issuestore/3/5/354079a72b91a4280407c16a36f47d1986fd85a5
/.idea/sonarlint/issuestore/a/5/a57c4a5beacd204debf2484074c11373641ed2c0
/.idea/sonarlint/issuestore/e/e/ee81262ebc7024803a4195318328ab3a7302810e
/.idea/sonarlint/issuestore/f/8/f8b41ce76d7b80d2b47e91b5f92c15f00eccf187
